### Examining Transaction Data

In [ ]:
import pandas as pd

# loading transaction dataset as Excel
transactions = pd.read_excel(r"D:\projects\RetailTrialImpactAnalysis\1st_Sprint\transaction_data.xlsx", sheet_name="in")
transactions.sample(10)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
235253,2018-08-23,197,197465,197459,38,Infuzions Mango Chutny Papadums 70g,2,4.8
127184,2019-03-07,145,145218,145460,78,Thins Chips Salt & Vinegar 175g,2,6.6
197408,2019-01-08,172,172197,173970,41,Doritos Salsa Mild 300g,2,5.2
227546,2018-11-12,240,240330,244485,62,Pringles Mystery Flavour 134g,2,7.4
84442,2018-07-17,54,54110,47992,77,Doritos Corn Chips Nacho Cheese 170g,2,8.8
175331,2018-10-19,67,67216,65111,87,Infuzions BBQ Rib Prawn Crackers 110g,2,7.6
108061,2019-06-28,118,118242,122062,25,Pringles SourCream Onion 134g,2,7.4
146421,2019-03-11,201,201347,201463,20,Doritos Cheese Supreme 330g,2,11.4
246553,2019-01-18,107,107166,109283,114,Kettle Sensations Siracha Lime 150g,2,9.2
66925,2018-10-15,219,219203,219202,36,Kettle Chilli 175g,2,10.8

In [ ]:
# define function for examining the data frame to avoid redundancy 
def analyze_df(df, show_nulls=True, show_duplicates=True, show_dtypes=True):
    
    if not isinstance(df, pd.DataFrame):
        print("invalid: the input must be a pandas DataFrame.")
        return False
    
    result = {}
    
    if show_nulls:
        nulls = df.isnull().sum()
        result['Null Counts'] = {
            'Total Nulls': nulls.sum(),
            'Nulls by Column': nulls
        }
    
    if show_duplicates:
        result['Duplicates'] = {
            'Total Duplicate Rows': df.duplicated().sum(),
            'Total Duplicate Columns': df.T.duplicated().sum()
        }
    
    if show_dtypes:
        result['Data Types'] = df.dtypes
    
    # print the result
    print(f"Analysis for DataFrame ({len(df)} rows, {len(df.columns)} columns)")
    print("=" * 60)
    
    for section, data in result.items():
        print(f"\n{section}:")
        print("-" * 40)
        if isinstance(data, dict):
            for k, v in data.items():
                print(f"{k}:")
                print(v.to_string() if hasattr(v, 'to_string') else v)
        else:
            print(data.to_string())
    
    return

In [43]:
# renaming columns
transactions.columns = [
    'Date', 'StoreNumber', 'LoyalityCardNumber', 'TransactionID', 
    'ProductNumber', 'ProductName', 'ProductQuantity', 'TotalSales'
]

# examining data types and check for missing values
analyze_df(transactions, show_duplicates=False)

Analysis for DataFrame (264835 rows, 8 columns)
============================================================

Null Counts:
----------------------------------------
Total Nulls:
0
Nulls by Column:
Date                  0
StoreNumber           0
LoyalityCardNumber    0
TransactionID         0
ProductNumber         0
ProductName           0
ProductQuantity       0
TotalSales            0

Data Types:
----------------------------------------
Date                  datetime64[ns]
StoreNumber                    int64
LoyalityCardNumber             int64
TransactionID                  int64
ProductNumber                  int64
ProductName                   object
ProductQuantity                int64
TotalSales                   float64

In [44]:
# examine quantity and sales if they include negative or zero values
transactions[['ProductQuantity', 'TotalSales']].describe()

       ProductQuantity     TotalSales
count    264835.000000  264835.000000
mean          1.907308       7.304205
std           0.643655       3.083231
min           1.000000       1.500000
25%           2.000000       5.400000
50%           2.000000       7.400000
75%           2.000000       9.200000
max         200.000000     650.000000

In [ ]:
# check for dublicates
print("\nNumber of duplicated rows:")
print(transactions.duplicated().sum())

Columns and their null counts:
Date                  0
StoreNumber           0
LoyalityCardNumber    0
TransactionID         0
ProductNumber         0
ProductName           0
ProductQuantity       0
TotalSales            0
dtype: int64

Number of duplicated rows:
1

In [ ]:
# drop the duplicated row
transactions.drop_duplicates(inplace=True)

0

### Examine Customer Data

In [45]:
# load purchace data as CSV
purchaseBehaviour = pd.read_csv(r"D:\projects\RetailTrialImpactAnalysis\1st_Sprint\purchase_behaviour.csv")
purchaseBehaviour.sample(10)

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
49331          184218          OLDER FAMILIES       Mainstream
9543            35337                RETIREES       Mainstream
26623           96318   YOUNG SINGLES/COUPLES       Mainstream
34269          125250   YOUNG SINGLES/COUPLES          Premium
39972          150025  MIDAGE SINGLES/COUPLES          Premium
43668          165074          OLDER FAMILIES          Premium
6511            23173          YOUNG FAMILIES       Mainstream
7137            26006   YOUNG SINGLES/COUPLES       Mainstream
2133             7167   OLDER SINGLES/COUPLES          Premium
29867          110025   OLDER SINGLES/COUPLES          Premium

In [46]:
# ranaming columns 
purchaseBehaviour.columns = [
    'LoyalityCardNumber', 'LifeStage', 'PremiumCustomer'
]

# examining data types and check for missing values
analyze_df(purchaseBehaviour, show_duplicates=False)

Analysis for DataFrame (72637 rows, 3 columns)
============================================================

Null Counts:
----------------------------------------
Total Nulls:
0
Nulls by Column:
LoyalityCardNumber    0
LifeStage             0
PremiumCustomer       0

Data Types:
----------------------------------------
LoyalityCardNumber     int64
LifeStage             object
PremiumCustomer       object

In [47]:
# check for dublicates
print("\nNumber of duplicated rows:")
print(purchaseBehaviour.duplicated().sum())

Number of duplicated rows:
0

In [50]:
# checking unique values for categorical columns
print('LifeStage column unique values:\n', purchaseBehaviour['LifeStage'].unique(), '\n')
print('PremiumCustomer column unique values:\n', purchaseBehaviour['PremiumCustomer'].unique())

LifeStage column unique values:
 ['YOUNG SINGLES/COUPLES' 'YOUNG FAMILIES' 'OLDER SINGLES/COUPLES'
 'MIDAGE SINGLES/COUPLES' 'NEW FAMILIES' 'OLDER FAMILIES' 'RETIREES']

PremiumCustomer column unique values:
 ['Premium' 'Mainstream' 'Budget']

In [52]:
# splitting 'LifeStage' into 'AgeGroup' (or keeping 'LifeStage' for the age part) and 'SocialStatus' 
# to allow easy analyze trends purely based on the age group and martial status
split_data = purchaseBehaviour['LifeStage'].str.split(' ', expand=True, n=1)
purchaseBehaviour['AgeGroup'] = split_data[0]
purchaseBehaviour['SocialStatus'] = split_data[1]
purchaseBehaviour.drop(columns=['LifeStage'], inplace=True)

# ensure data splitted as intended
purchaseBehaviour.head()

   LoyalityCardNumber PremiumCustomer AgeGroup     SocialStatus
0                1000         Premium    YOUNG  SINGLES/COUPLES
1                1002      Mainstream    YOUNG  SINGLES/COUPLES
2                1003          Budget    YOUNG         FAMILIES
3                1004      Mainstream    OLDER  SINGLES/COUPLES
4                1005      Mainstream   MIDAGE  SINGLES/COUPLES

### Merging Transaction & Customer Data

In [53]:
# identify Common columns for merging
print("Transaction Columns:", transactions.columns)
print("Customer Columns:", purchaseBehaviour.columns)

Transaction Columns: Index(['Date', 'StoreNumber', 'LoyalityCardNumber', 'TransactionID',
       'ProductNumber', 'ProductName', 'ProductQuantity', 'TotalSales'],
      dtype='object')
Customer Columns: Index(['LoyalityCardNumber', 'PremiumCustomer', 'AgeGroup', 'SocialStatus'], dtype='object')

In [ ]:
# merge using 'LoyalityCardNumber' column
# I will use 'inner' to keep only matching records
full_df = pd.merge(left=transactions, right=purchaseBehaviour, on='LoyalityCardNumber', how='inner')

,Date,StoreNumber,LoyalityCardNumber,TransactionID,ProductNumber,ProductName,ProductQuantity,TotalSales,PremiumCustomer,AgeGroup,SocialStatus
185242,2018-08-17,33,33219,30841,76,Woolworths Medium Salsa 300g,1,1.5,Budget,YOUNG,FAMILIES
44980,2018-12-24,113,113090,115969,107,Smiths Crinkle Cut French OnionDip 150g,2,5.2,Budget,OLDER,FAMILIES
131744,2018-09-28,208,208025,206252,79,Smiths Chip Thinly CutSalt/Vinegr175g,2,6.0,Premium,OLDER,SINGLES/COUPLES
21770,2019-02-01,133,133120,136764,46,Kettle Original 175g,2,10.8,Premium,MIDAGE,SINGLES/COUPLES
88372,2018-11-13,75,75118,73854,81,Pringles Original Crisps 134g,2,7.4,Budget,OLDER,SINGLES/COUPLES
262014,2019-04-24,128,128068,130949,82,Smith Crinkle Cut Mac N Cheese 150g,2,5.2,Premium,YOUNG,SINGLES/COUPLES
222708,2019-04-01,101,101116,100716,103,RRD Steak & Chimuchurri 150g,2,5.4,Premium,YOUNG,FAMILIES
242917,2018-10-24,33,33053,29757,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,Mainstream,YOUNG,SINGLES/COUPLES
3279,2018-07-26,155,155206,156326,89,Kettle Sweet Chilli And Sour Cream 175g,2,10.8,Budget,MIDAGE,SINGLES/COUPLES
138128,2018-12-07,7,7071,6579,34,Pringles Slt Vingar 134g,2,7.4,Budget,RETIREES,None

In [56]:
# verify the merge step
print(full_df.info())
print(full_df.sample(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264835 entries, 0 to 264834
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                264835 non-null  datetime64[ns]
 1   StoreNumber         264835 non-null  int64
 2   LoyalityCardNumber  264835 non-null  int64
 3   TransactionID       264835 non-null  int64
 4   ProductNumber       264835 non-null  int64
 5   ProductName         264835 non-null  object
 6   ProductQuantity     264835 non-null  int64
 7   TotalSales          264835 non-null  float64
 8   PremiumCustomer     264835 non-null  object
 9   AgeGroup            264835 non-null  object
 10  SocialStatus        215072 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 22.2+ MB
None
             Date  StoreNumber  LoyalityCardNumber  TransactionID  \
26289  2019-05-04           75               75100          73791
167648 2019-06-26          210              210187         209725
242977 2019-02-21           33               33119          30208
124304 2018-07-23           69               69224          67253
155472 2018-07-04           23               23124          19482
260840 2019-06-07           70               70190          68588
207596 2018-12-22           26               26073          22564
214060 2019-06-23          194              194249         194278
90714  2019-06-22          114              114151         117817
1581   2018-07-14           50               50212          46356

        ProductNumber                               ProductName  \
26289              24     Grain Waves         Sweet Chilli 210g
167648             24     Grain Waves         Sweet Chilli 210g
242977             54                         CCs Original 175g
124304            112    Tyrrells Crisps     Ched & Chives 165g
155472             15                  Twisties Cheese     270g
260840             63              Kettle 135g Swt Pot Sea Salt
207596             30   Doritos Corn Chips  Cheese Supreme 170g
214060             16  Smiths Crinkle Chips Salt & Vinegar 330g
90714              42   Doritos Corn Chip Mexican Jalapeno 150g
1581               80    Natural ChipCo Sea  Salt & Vinegr 175g

        ProductQuantity  TotalSales PremiumCustomer  AgeGroup     SocialStatus
26289                 2         7.2          Budget       NEW         FAMILIES
167648                2         7.2      Mainstream  RETIREES             None
242977                2         4.2      Mainstream     YOUNG  SINGLES/COUPLES
124304                2         8.4         Premium     OLDER  SINGLES/COUPLES
155472                2         9.2      Mainstream  RETIREES             None
260840                2         8.4         Premium     YOUNG  SINGLES/COUPLES
207596                2         8.8      Mainstream     YOUNG         FAMILIES
214060                2        11.4      Mainstream     YOUNG         FAMILIES
90714                 2         7.8          Budget     OLDER  SINGLES/COUPLES
1581                  1         3.0          Budget    MIDAGE  SINGLES/COUPLES

#### Note on SocialStatus Nulls
Null values in the *SocialStatus* column are a consequence of the splitting operation. This occurs for original *LifeStage* value (*RETIREES*) that comprise a single word, leaving no second component to accomodate the *SocialStatus* field.

In [65]:
# inspecting the nulls
full_df[full_df['SocialStatus'].isnull()][['AgeGroup', 'SocialStatus']].sample(5)

# fill the nulls with 'No-status'
full_df['SocialStatus'].fillna('No_STATUS', inplace=True)

# check null counts again
full_df.isnull().sum()

Date                  0
StoreNumber           0
LoyalityCardNumber    0
TransactionID         0
ProductNumber         0
ProductName           0
ProductQuantity       0
TotalSales            0
PremiumCustomer       0
AgeGroup              0
SocialStatus          0
dtype: int64