### Examining Transaction Data

In [1]:
import pandas as pd

transactions = pd.read_excel(r"D:\projects\RetailTrialImpactAnalysis\1st_Sprint\transaction_data.xlsx", sheet_name="in")
transactions.sample(10)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
235253,2018-08-23,197,197465,197459,38,Infuzions Mango Chutny Papadums 70g,2,4.8
127184,2019-03-07,145,145218,145460,78,Thins Chips Salt & Vinegar 175g,2,6.6
197408,2019-01-08,172,172197,173970,41,Doritos Salsa Mild 300g,2,5.2
227546,2018-11-12,240,240330,244485,62,Pringles Mystery Flavour 134g,2,7.4
84442,2018-07-17,54,54110,47992,77,Doritos Corn Chips Nacho Cheese 170g,2,8.8
175331,2018-10-19,67,67216,65111,87,Infuzions BBQ Rib Prawn Crackers 110g,2,7.6
108061,2019-06-28,118,118242,122062,25,Pringles SourCream Onion 134g,2,7.4
146421,2019-03-11,201,201347,201463,20,Doritos Cheese Supreme 330g,2,11.4
246553,2019-01-18,107,107166,109283,114,Kettle Sensations Siracha Lime 150g,2,9.2
66925,2018-10-15,219,219203,219202,36,Kettle Chilli 175g,2,10.8

In [ ]:
# renaming columns
transactions.columns = [
    'Date', 'StoreNumber', 'LoyalityCardNumber', 'TransactionID', 
    'ProductNumber', 'ProductName', 'ProductQuantity', 'TotalSales'
]

# examining data types
transactions.dtypes

# examine quantity and sales if they include negative or zero values
transactions[['ProductQuantity', 'TotalSales']].describe()

       ProductQuantity     TotalSales
count    264836.000000  264836.000000
mean          1.907309       7.304200
std           0.643654       3.083226
min           1.000000       1.500000
25%           2.000000       5.400000
50%           2.000000       7.400000
75%           2.000000       9.200000
max         200.000000     650.000000

In [16]:
# check for missing values
print('Columns and their null counts:')
print(transactions.isnull().sum())

# check for dublicates
print("\nNumber of duplicated rows:")
print(transactions.duplicated().sum())

Columns and their null counts:
Date                  0
StoreNumber           0
LoyalityCardNumber    0
TransactionID         0
ProductNumber         0
ProductName           0
ProductQuantity       0
TotalSales            0
dtype: int64

Number of duplicated rows:
1

In [ ]:
# drop the duplicated row
transactions.drop_duplicates(inplace=True)

0