### Objective
- Evaluate the effectiveness of a trial run in stores 77, 86, and 88. 

- The idea is to compare these trial stores to control stores over a trial period â€” to see if the trial caused a meaningful change.

In [9]:
# importing dataset
import pandas as pd

data = pd.read_csv(r"D:\projects\RetailTrialImpactAnalysis\2nd_Sprint\QVI_data.csv",header=0)
data.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [10]:
# Renaming columns
data.columns = [
    'LoyalityCardNumber', 'Date', 'StoreNumber', 'TransactionID', 'ProductNumber', 'ProductName',
    'ProductQuantity', 'TotalSales', 'PackSize', 'Brand', 'LifeStage', 'PremiumCustomer'
]

#### Aggregate Monthly Metrics

In [11]:
data['Date'] = pd.to_datetime(data['Date'])
data['YearMonth'] = data['Date'].dt.to_period('M')

# group by store and month
monthlyMetrics = data.groupby(['StoreNumber','YearMonth']).agg(
    totalSales=('TotalSales', 'sum'),
    uniqueCustomers=('LoyalityCardNumber', 'nunique'),
    totalTransactions=('TransactionID', 'nunique')
).reset_index()

# average transactions per customer
monthlyMetrics['avgTxnPerCustomer'] = (monthlyMetrics['totalTransactions'] / monthlyMetrics['uniqueCustomers'])

monthlyMetrics.sample(7)

,StoreNumber,YearMonth,totalSales,uniqueCustomers,totalTransactions,avgTxnPerCustomer
975,84,2019-06,474.4,46,52,1.130435
2910,250,2019-02,1037.5,105,117,1.114286
537,47,2019-01,389.8,57,59,1.035088
355,32,2018-10,1002.4,101,142,1.405941
1876,161,2019-06,20.6,3,3,1.000000
2799,241,2018-11,641.2,78,89,1.141026
186,17,2018-11,403.6,42,46,1.095238